USE [master]
GO
/****** Object:  Database [WebStock]    Script Date: 13/4/2023 17:41:37 ******/
CREATE DATABASE [WebStock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebStock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVERDEV\MSSQL\DATA\WebStock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebStock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVERDEV\MSSQL\DATA\WebStock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebStock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebStock]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 13/4/2023 17:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[Numero_lote] [int] NOT NULL,
	[Id_producto] [int] NOT NULL,
	[Id_provedor] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha_fabricacion] [date] NOT NULL,
	[Fecha_expiracion] [date] NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[Numero_lote] ASC,
	[Id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 13/4/2023 17:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id_producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [ID_Product] PRIMARY KEY CLUSTERED 
(
	[Id_producto] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provedores]    Script Date: 13/4/2023 17:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provedores](
	[Id_provedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Provedores] PRIMARY KEY CLUSTERED 
(
	[Id_provedor] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[RegIngresoInventario]    Script Date: 13/4/2023 17:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegIngresoInventario]
@Producto VARCHAR(50),
@NumeroLote INT,
@Cantidad INT,
@FechaFabricacion DATE,
@Provedor VARCHAR(50),
@FechaCaducidad DATE
AS
BEGIN
 IF(SELECT COUNT(*) FROM dbo.Productos where Nombre =@Producto )=0
 BEGIN
 INSERT INTO Productos VALUES(@Producto);
 END
 IF (SELECT COUNT(*) FROM dbo.Provedores WHERE Nombre=@Provedor)=0
 BEGIN
 INSERT INTO Provedores VALUES(@Provedor);
 END
 IF(SELECT COUNT(*) FROM dbo.Inventario 
 WHERE Numero_lote=@NumeroLote and Id_producto=(SELECT Id_producto FROM Productos WHERE Nombre=@Producto))=0
 BEGIN
 INSERT INTO dbo.Inventario VALUES (@NumeroLote,(SELECT Id_producto FROM Productos WHERE Nombre=@Producto)
 ,(SELECT Id_provedor FROM Provedores WHERE Nombre=@Provedor),@Cantidad,@FechaFabricacion,@FechaCaducidad);
 END
 ELSE
 BEGIN
 UPDATE dbo.Inventario SET Id_provedor=(SELECT Id_provedor FROM Provedores WHERE Nombre=@Provedor)
 , Cantidad = @Cantidad, Fecha_fabricacion =@FechaFabricacion, Fecha_expiracion= @FechaCaducidad;
 END
END

GO
USE [master]
GO
